[submodule "storage-service"]
	path = storage-service
	url = https://github.com/kyleestes/pcs-storage-adapter-dotnet.git
[submodule "simulation-service"]
	path = simulation-service
	url = https://github.com/kyleestes/device-simulation-dotnet.git
[submodule "webui"]
	path = webui
	url = https://github.com/kyleestes/pcs-simulation-webui.git
[submodule "pcs-diagnostics-dotnet"]
	path = pcs-diagnostics-dotnet
	url = https://github.com/kyleestes/pcs-diagnostics-dotnet.git
[submodule "pcs-config-dotnet"]
	path = pcs-config-dotnet
	url = https://github.com/kyleestes/pcs-config-dotnet.git
	branch = RemoveServiceDependency
